section.section.about#about
	.container.about-container
		h2.about__title.title
			| ЕСЛИ ВАМ
		.about__subtitle.subtitle
			| нужно быстро и точно:
		.about__text
			.text_left.column
				p провести инженерно-геологические изыскания
				p провести обследование земляного полотна
				p оценить устойчивость склонов и откосов
			.text_right.column
				p определить строительные свойства грунта при проектировании опор фундаментов зданий и сооружений, мостов, дорог, в особенности в стесненных условиях, при отсутствии дорог, в подвалах существующих зданий, шурфах, скважинах 
		.about-what
			.you-need
				| Вам необходим
			.what-device
				| РУЧНОЙ ЗОНД ГЛУБОКОГО ЗОНДИРОВАНИЯ ГРУНТА
