section.section.author
	.container.author-container
		h3.author__title.title
			| АВТОР
		.author__content
			.author_img
				img(src="#", alt="author")
			.author_text
				h2.author-name
					| ХАМОВ АРНОЛЬД ПЕТРОВИЧ
				.author-about
					p доцент
					p кандидат технических наук
					p член Российского и Международного обществ по механике грунтов, геотехнике и фундаментостроению
					p член Европейского Комутета по склонам и откосам