section.section.author.bg-brown
	.container.author-container
		h2.author__title.title
			| АВТОР
		.author__text.text
			h3.author-name
				| ХАМОВ АРНОЛЬД ПЕТРОВИЧ
			ul.author-about__list
				li.author-about__item доцент
				li.author-about__item кандидат технических наук
				li.author-about__item член Российского и Международного обществ по механике грунтов, геотехнике и фундаментостроению
				li.author-about__item член Европейского Комутета по склонам и откосам