section.section.contacts
	.container.contacts-container
		h3.contacts__title.title
			| КОНТАКТЫ
		.contacts__text
			.phone
				.icon.icon-phone
				a(href="tel:+79035112022") 8-903-511-20-22
			.email
				.icon.icon-email
				a(href="mailto:alexandra.pasyuta@gmail.com") alexandra.pasyuta@gmail.com