section.section.contacts#contacts.bg-brown
	.container.contacts-container
		h2.contacts__title.title
			| КОНТАКТЫ
		ul.contacts__list
			li.contacts__item.phone
				.icon.icon-phone
				a(href="tel:+79165359520").icon-link +7 916 535 95 20
			li.contacts__item.email
				.icon.icon-email
				a(href="mailto:*@gmail.com").icon-link info.rzgm@gmail.com