section.section.description
	.container.description-container
		h3.description__title.title
		.description__text.text
			.text_left
				p Конструкция зонда РЗГМ «Русский зонд» позволит Вам использовать усилие от веса человека для комбинированного — статического и динамического — зондирования. Статическое зондирование осуществляется весом человека на ручку зонда через гидродинамометр с манометром, штангу и конический наконечник, а динамическое зондирование — с использованием осевого молота. Усилие вдавливания фиксируется манометром. Муфты препятствуют потере устойчивости штанг зонда в грунте. Максимальное усилие вдавливания зонда в грунт при статическом зондировании соответствует 3–5 МПа, при динамическом — 30–40 МПа и более.
				p Теоретические и экспериментальные исследования автора позволили установить, что удельное сопротивление грунта не зависит от диаметра конуса зонда. Благодаря этому диаметр конуса зонда РЗГМ в несколько раз меньше стандартных. 
				p Объединение штанг зонда муфтами, диаметр которых меньше диаметра конуса зонда обеспечивает высокую устойчивость зонда при зондировании в прочных грунтах и практически исключает силы трения по боковой поверхности штанг зонда, а также существенно снижает силы трения по боковой поверхности муфт.

			.text_right
				p Экспериментальные исследования автора также показали, что существует функциональная связь между результатами статического и динамического зондирования грунта, установлен коэффициент перехода между ними. \
				p Ручной зонд РЗГМ является улучшенной модификацией зонда РЗГ. Он является более компактным, имеет меньший вес, повышенную эксплуатационную надежность и точность. Он обеспечивает более эффективное извлечение зонда из прочных грунтов, например, плотных песков, и обладает большей производительностью. Зонд пробивает мёрзлый глинистый грунт в Москве и Подмосковье.
				p Общий вес зонда с футляром — 12 кг. В комплект входит два футляра для штанг, составных деталей и приборов. Глубина зондирования до 10 м. При наличии большой толщи слабых грунтов глубина зондирования может быть увеличена. 
				p В результате зондирования Вы сможете получить следующие характеристики грунта: вид грунта, угол внутреннего трения и сцепления песчаных и глинистых грунтов, модуль деформации, плотность песчаного грунта, консистенцию (показатель текучести) глинистого грунта, несущую способность свай различных конструкций, уровень грунтовых вод, устойчивость откосов. 


