section.section.device
	.container.device-container
		header.header
			ul.nav__list
				li.nav__item.nav__item_description
					| ОПИСАНИЕ
				li.nav__item.nav__item_author
					| АВТОР
				li.nav__item.nav__item_practice
					| ПРАКТИКА
				li.nav__item.nav__item_contacts
					| КОНТАКТЫ
		.device__title
			.device__title_name Русский зонд рзгм
			.device__title_fullname Ручной зонд глубокого зондирования грунта
		.detail
			.detail__title Подробнее



