section.section.device
	.container.device-container
		header.header
			ul.nav__list
				li.nav__item.nav__item_description
					a(class="go_to" href="#description") ОПИСАНИЕ
				li.nav__item.nav__item_author
					a(class="go_to" href="#author") АВТОР
				li.nav__item.nav__item_practice
					a(class="go_to" href="#practice") ПРАКТИКА
				li.nav__item.nav__item_contacts
					a(class="go_to" href="#contacts") КОНТАКТЫ
		.device__title
			h1.device__title_name Русский зонд рзгм
			h1.device__title_fullname Ручной зонд глубокого зондирования грунта
		.detail
			a(class="detail__title go_to" href="#about") Подробнее



