section.section.practice
	.container.practice-container
		h2.practice__title.title ПРАКТИКА
		.practice__text.text
			.text_left
				p На практике зонд РЗГ используется с 1993г., как автором, так и различными организациями. Этим зондом оснащены железно-дорожные войска России, МЧС (Министерство по чрезвычайным ситуациям) России, а также значительная часть железнодорожных и частично автодорожных структур России.
				p Кроме того, зонд РЗГ широко используется проектно-изыскательскими организациями по всей территории России, от Благовещенска до Калининграда. В 2004 году зонд регламентирован строительными правилами Росстроя. 
				p Автором зонд РЗГ обычно применяется на глубине до 10 м  и лишь в отдельных случаях до 14 м. При этом автором была исследована устойчивость более 20 железно-дорожных насыпей, а также 3-х естественных склонов высотой от 6 до 30 м, песчаных и глинистых, и результаты этих исследований показали высокую эффективность и надежность на порядок более высокую, чем при использовании результатов бурения.

			.text_right
				p Также зонд РЗГ применялся при инженерно-геологических исследованиях на Москва-Сити, на подходах к мостам, при обследовании оснований фундаментов в подвалах, в шурфах, буровых скважинах, на глубине до 20 м, на дне котлованов, устойчивости бортов карьера и пр.
				p Зонд РЗГ был неоднократно использован на международных объектах, на шоколадной фабрике в г. Покров, а также на молокозаводе в г. Ступино, и результаты этих исследований были одобрен турецкими, немецкими и голландскими специалистами.
				p Зонд оснащен специальным пробоотборником и наконечником с муфтой трения для определения вида грунта и силы трения по боковой поверхности муфты трения.
				p Применение зонда РЗГ позволяет по существующим нормам определить физико-механические свойства грунта, несущую способность свай.
				p В настоящее время зонд применяют многие проектно-изыскательские институты и строительные фирмы Москвы.
