include _mixins

doctype html
html(lang="ru-RU")
	head
		meta(charset="UTF-8")
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='title', content='Оборудование для зондирования грунтов: Ручной зонд РЗГМ')
		meta(name='description', content='Модернизированный ручной зонд глубокого зондирования грунта "Русский зонд" РЗГМ. Закажите оборудование для динамического и статического зондирования грунтов.')
		meta(name='keywords', content='зондирование грунтов, оборудование для зондирования грунтов, рзгм, ручной зонд, зондирование грунтов оборудование, оборудование, прибор, динамическое зондирование грунтов, динамическое зондирование грунтов оборудование, динамическое зондирование, статическое зондирование грунтов, ручной зонд глубокого зондирования грунта, модернизированный ручной зонд глубокого зондирования грунта, рзг, рзг-2, рзг 2, рзг2, хамов, хамов арнольд петрович, инженерно-геологические изыскания, испытания грунтов, геологические исследования')
		meta(name="yandex-verification" content="bee1863b4f69803e")
		meta(name="google-site-verification" content="qzA8GB5iDYZDw7zW4zAokKJ8RFB_M5vwS946hQiDHd4")

		// Yandex.Metrika counter
		script(type='text/javascript').
			(function (d, w, c) {
				(w[c] = w[c] || []).push(function() {
					try {
						w.yaCounter46477950 = new Ya.Metrika({
							id:46477950,
							clickmap:true,
							trackLinks:true,
							accurateTrackBounce:true
						});
					} catch(e) { }
				});
				var n = d.getElementsByTagName("script")[0],
					s = d.createElement("script"),
					f = function () { n.parentNode.insertBefore(s, n); };
				s.type = "text/javascript";
				s.async = true;
				s.src = "https://mc.yandex.ru/metrika/watch.js";
				if (w.opera == "[object Opera]") {
					d.addEventListener("DOMContentLoaded", f, false);
				} else { f(); }
			})(document, window, "yandex_metrika_callbacks");
		noscript
			div
				img(src='https://mc.yandex.ru/watch/46477950', style='position:absolute; left:-9999px;', alt='')
		// /Yandex.Metrika counter

		link(rel="shortcut icon" href="assets/img/favicon/favicon.ico" type="image/x-icon")
		link(rel="icon" href="assets/img/favicon/favicon.ico" type="image/x-icon")
		link(href="assets/css/foundation.css", rel="stylesheet")
		link(href='assets/img/sprite.css', rel='stylesheet')
		link(href='assets/css/main.css', rel='stylesheet')
		
		title 
			block title

	body
		.wrapper
			block content

		block footer
