.contacts__list{
	a {
		color: #fff;
	}
	
	display: flex;
	flex-direction: column;
	border: solid 1px #fff;
	width: 300px;
	//@include centered(x);
	//position: relative;
	margin: 20px auto;
	padding: 20px;
}

.contacts__item {
	flex: 1;
	margin-top: 20px;
	&:first-child {
		margin-top: 0;
	}

	.icon {
		position: absolute;
	}

	.icon-link {
		margin-left: 40px;
	}
}
