.device {
	min-height: 700px;
	background-image: url('../img/bg/bg2.jpg');
	background-size: auto 100%;
	background-position: center center;
	position: relative;
	color: #fff;
	text-align: center;

	a {
		color: #fff;
	}
}

.nav__list {
	display: flex;
	flex-direction: row;
}

.nav__item {
	flex: 1;
	font-size: 20px;
}

.device__title {
	text-transform: uppercase;
	margin-top: 120px;
	margin-bottom: 120px;
}

.device__title_name {
	font-size: 90px;
}

.device__title_fullname {
	font-size: 25px;
}

.detail {
	text-transform: uppercase;
}

.detail__title {
	border: 1px solid #fff;
	width: 180px;
	//@include centered(x);
	//position: relative;
	font-size: 22px;
	padding: 20px;
}