.device {
	//min-height: 700px;
	background-image: url('../img/bg/bg2.jpg');
	background-size: auto 100%;
	background-position: center center;
	position: relative;
	color: #fff;
	text-align: center;

	height: 100vh; //растянет блок во всю высоту экрана устройства

	a {
		color: #fff;

		&:hover {
			text-decoration: underline;
		}
	}
}

.nav__list {
	display: flex;
	flex-direction: row;
}

.nav__item {
	flex: 1;
	font-size: 20px;

	@include tablets {
		font-size: 17px;
	}
}

.device__title {
	text-transform: uppercase;
	margin-top: 120px;
	margin-bottom: 120px;
}

.device__title_name {
	font-size: 90px;

	@include tablets {
		font-size: 70px;
	}
}

.device__title_fullname {
	font-size: 25px;

	@include tablets {
		font-size: 20px;
	}
}

.detail {
	text-transform: uppercase;
}

.detail__title {
	border: 1px solid #fff;
	width: 180px;
	font-size: 22px;
	padding: 20px;
}