.footer {
	position: relative;
	min-height: $footer-height;
	margin-top: -1/2*$footer-height;
	color: #fff;
	background-color: #a18d87;
}

.footer__authority {
	@include centered();
	text-align: center;
}