.pluses__content {
	display: flex;
	flex-direction: column;
}

.pluses__list {
	display: flex;
	flex-direction: row;
	margin-top: 50px;
}

.pluses__item {
	flex: 1;
	text-align: center;
}

.plus_img {
	@include centered(x);
	position: relative;
}