extends ../layout

block title
	| Оборудование для зондирования грунтов: Ручной зонд РЗГМ

block content
	include ../sections/device
	include ../sections/about
	include ../sections/pluses
	include ../sections/description
	include ../sections/author
	include ../sections/practice
	include ../sections/contacts

block footer
	include ../sections/footer